::-webkit-input-placeholder {
  color: #ebe2d8;
}

:-ms-input-placeholder {
  color: #ebe2d8;
}

::-ms-input-placeholder {
  color: #ebe2d8;
}

::placeholder {
  color: #ebe2d8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: #ebe2d8;
  height: 99vh;
  width: 100vw;
}

.navbar {
  background-color: #db7680;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 5px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  list-style: none;
}

.nav-item {
  color: #fff;
  padding: 10px;
}

.nav-item:hover {
  background-color: rgba(235, 226, 216, 0.5);
}

.menu-item {
  color: #fff;
}

.sidebar {
  background-color: #db7680;
  border-top: 2px solid #8f4e54;
  height: 92vh;
  overflow-y: scroll;
}

.containerMy {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 92vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.has-my-bg {
  background-color: #ebe2d8;
}
