.reports {
  padding: 20px;
  background-color: #ebe2d8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: relative;
  height: auto;
  width: 400px;
}

.card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
