::-webkit-input-placeholder {
  color: #ebe2d8;
}

:-ms-input-placeholder {
  color: #ebe2d8;
}

::-ms-input-placeholder {
  color: #ebe2d8;
}

::placeholder {
  color: #ebe2d8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: #ebe2d8;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #db7680;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 5px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  list-style: none;
}

.nav-item {
  margin-left: 5px;
  color: #fff;
}

.nav-item:hover {
  background-color: #b15c64;
}

.ctc {
  padding: 5px;
  font-size: 0.5rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 90vh;
}

.heading {
  margin-top: 100px;
  font-weight: 400;
  color: #b15c64;
}

.form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px;
  height: 40vh;
  border-radius: 10px;
  background-color: #db7680;
}

.form input {
  padding: 7px 0px 7px 10px;
  color: #fff;
  background-color: #b15c64;
  border-radius: 6px;
  outline: none;
  border: none;
}

.btn-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  min-width: 80px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-success {
  background-color: #afd275;
}

.btn-outline {
  padding: 5px 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 6px;
}

.form a {
  font-size: 0.5rem;
  color: #ebe2d8;
}
