{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container has-my-bg" >
    <div class="title has-text-centered">
      Expenses
    </div>
      <div class="box ">
        <form action="" method="POST">
          <div class="field">
            <label for="" class="label">Name</label>
            <input type="text" class="input" id="name">
          </div>
          <div class="field is-expanded">
            <label for="" class="label">Type</label>
            <div class="control">
              <div class="select is-fullwidth ">
                <select name="type" id="type"  >
                  <option value="expense"> expense </option>
                </select>
              </div>
  
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Amount</label>
            <input type="number" name="amt" id="amout" class="input">
          </div>
          <div class="field">
            <label for="" class="label">Photo</label>
            <input type="file" name="file" id="file" class="input" placeholder="add expense reciept">
          </div>
          <div class="field has-text-centered">
            <input type="submit" class="button is-success" value="ADD">
          </div>
        </form>
      </div>
    
</div>
  {% endblock %} {% block script %}
  <script src="{% static  'js/order.js' %}"></script>
  {% endblock %}
