{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="container has-my-bg" >
    <div class="title has-text-centered">
      Report
    </div>
      <div class="columns">
          <form action="" method="post">
            <div class="column ">
              <div class="field">
                <div class="control">
                   <div class="select">
                    <select   name="" id="options">
                        <option value="">Company</option>
                        <option value="">Farmer</option>
                        <option value="">Bill</option>
                        <option value="">Expense</option>
                        <option value="">Date</option>
                      </select>
                   </div>
                </div>
              </div>

          </div>
          <div class="column">
              <div class="control">
                  <button type="submit" class="button is-primary ">Search </button>
              </div>
          </div>
          </form>
      </div>
    
</div>
  {% endblock %} {% block script %}
  <script src="{% static  'js/order.js' %}"></script>
  {% endblock %}
