<nav class="navbar ">
    {% load static %}
    <img src="{% static 'img/logochimo.png' %}" alt="logo" style="height: 40px; width: 30px;">
    <a href="" class="logo">
        Juicy Soil

    </a>
    <ul class="nav">
        <li class="nav-item btn btn-outline ctc">John Doe</li>
    </ul>
</nav>