<aside class="menu sidebar has-text-white">
    <div class="nav-item">
        <p class="menu-label has-text-white	  {{report}}  ">
            Reports 
        </p>
         <ul class="menu-list has-text-white">
                <li><a href="{% url 'index' %}">Overview</a></li>
                <li><a href="{% url 'report' %}">Daily</a></li>
                <li><a href="{% url 'report' %}">Weekly</a></li>
                <li><a href="{% url 'report' %}">Monthly</a></li>
                <li><a href="{% url 'report' %}">Expenses</a></li>
            </ul>
    </div>
    
    <div class="nav-item">
        <p class="menu-label has-text-white	 {{companies}} ">
            Order
        </p>
         <ul class="menu-list ">
            <li><a href="{% url 'ofc' %}">From Company</a></li>
            <li>
                <a href="{% url 'otf' %}">To Farmer</a>
            </li>
    
        </ul>
    </div>
    
    <div class="nav-item">
        <p class="menu-label has-text-white	 {{farmer}} ">
            Delivery
            
        </p>
        <ul class="menu-list ">
                <li><a href="{% url 'dtc' %}">To Company</a></li>
                <li>
                    <a href="{% url 'dff' %}">From Farmer</a>
                </li>
        
            </ul>
    </div>
    
    <div class="nav-item">
        <p class="menu-label has-text-white	 {{billing}} ">
            Billing
            
        </p>
        <ul class="menu-list ">
                <li><a href="{% url 'bill' %}">Bill</a></li>
                <li>
                    <a href="{% url 'reciept' %}">Reciept</a>
                </li>
        
            </ul>
    </div>
<div class="nav-item">
        <p class="menu-label has-text-white	 {{pricing}} ">
            Pricing
            
        </p>
        <ul class="menu-list ">
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
               
        
            </ul>
    </div>
    <div class="nav-item">
        <p class="menu-label has-text-white	 {{pricing}} ">
            Expenses
            
        </p>
        <ul class="menu-list ">
                <li><a href="{% url 'addexpense' %}"> Add expense</a></li>
               
        
            </ul>
    </div>

    
</aside>