

.reports {
  padding: 20px;
  background-color: #ebe2d8;
  display: -ms-grid;
  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-rows: 1fr 1fr;
  gap: 20px;

  align-items: center;
  justify-items: center;
}

.card {
  background-color: #ffffff;

  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: relative;
  height: auto;
  width: 400px;
}

.card .title {
  display: flex;

  justify-content: space-between;
}


