$bg-main: #db7680;
$bg-dark: #b15c64;
$bg-light:#ebe2d8;
$green: #afd275;
$menu-label-color:#fff;
::placeholder {
  color: $bg-light;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: $bg-light;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: $bg-main;
  width: 100%;
  height: 8vh;
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 5px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  list-style: none;
}
.nav-item {
  margin-left: 5px;
  color: #fff;
}
.nav-item:hover {
  background-color: $bg-dark;
}
.ctc {
  padding: 5px;
  font-size: 0.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
}
.heading {
  margin-top: 100px;
  font-weight: 400;
  color: $bg-dark;
}
.form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;

  height: 40vh;
  border-radius: 10px;
  background-color: $bg-main;
}
.form input {
  padding: 7px 0px 7px 10px;
  color: #fff;
  background-color: $bg-dark;
  border-radius: 6px;
  outline: none;
  border: none;
}
.btn-grp {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  min-width: 80px;
}
.btn:hover {
  opacity: 0.8;
}
.btn-success {
  background-color: $green;
}
.btn-outline {
  padding: 5px 10px;
  border: 2px solid white;
  background-color: rgba($color: #000000, $alpha: 0);
  color: #fff;
  border-radius: 6px;
}
.form a {
  font-size: 0.5rem;
  color: $bg-light;
}
