$bg-main:#DB7680;
$bg-dark:#B15C64;
$bg-light:#EBE2D8;
$green:#AFD275;
$sidebar-color:rgb(207, 106, 116);
$menu-item-color:#fff;



.order{
    padding: 0px 20px;
    height: 90vh;
    overflow-y: scroll;
}



.buttonfield:last-child{

    margin-bottom: .75rem;
}
.buttonfield{
    
    align-self: center;
    justify-self: center;
}

