$bg-main:#DB7680;
$bg-dark:#B15C64;
$bg-light:#EBE2D8;
$green:#AFD275;



.containerMy{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.reports{
    padding: 20px;
    background-color: $bg-light;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow-y: scroll;
}



.chartContainer{
    position: relative;
    display: flex;
    
   flex-wrap: wrap;
    padding:20px 0;
    height: 100%;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



thead > tr {
    background-color: #DB7680;
    color: #fff ;
}
tr:hover{
    background-color: $bg-dark;
    color: $bg-light;
}