<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juicy Soil | Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/3fab7a5a3b.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--navbar later to be put in partial-->

    {% include "partials/navbar.html" %}
    <!--main layout -->
    <div class="containerMy has-my-bg">

        <!--navigation sidebar-->

        {% include 'partials/sidebar.html'%}

        <!--reports screen-->
        {% block content%}

        {% endblock %}

        <!--these are specific scripts-->
        {% block script %}
        {% endblock %}
</body>

</html>