{% extends 'base.html' %}
{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="reports">
    <div class="card">
        <div class="title">
            <div>Daily</div> <a class="button is-link is-rounded" href="{% url 'report'%}">More</a >
        </div>
        <canvas id="daily"></canvas>
    </div>
    <div class="card">
        <div class="title">
            <div>weekly</div> <a class="button is-link is-rounded">More</a >
        </div>
        <canvas id="weekly"></canvas>
    </div>
    <div class="card">
        <div class="title">
            <div>Monthly</div> <a class="button is-link is-rounded">More</a >
        </div>
        <canvas id="monthly"></canvas>
    </div>
    <div class="card">
        <div class="title">
            <div>Expenses</div> <a class="button is-link is-rounded">More</a >
        </div>
        <canvas id="expenses"></canvas>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static  'js/index.js' %}"></script>
{% endblock %}