<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juicy Soil | Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <nav class="navbar">
        <img src="{% static 'img/logochimo.png' %}" alt="logo" style="height: 40px; width: 30px;">
        <a href="" class="logo">
            Juicy Soil
            
        </a>
        <ul class="nav">
            <li class="nav-item btn btn-outline ctc">Contact us</li>
        </ul>
    </nav>
    <div class="container">
        <p class="heading">LOGIN</p>
        <form action="" method="POST">
            <div class="form">
                <input type="email" placeholder="Email / Username" name="email" id="email">
                <input type="password" placeholder="Password" name="pass" id="pass" >
                <div class="btn-grp">
                    <button type="submit" class="btn btn-success">Login</button>
                    <a class="btn btn-outline" href="{% url 'index' %}">Sign Up</a>
                </div>
                <a href="">forgot password?</a>
            </div>
        </form>

    </div>
</body>

</html>