{% extends 'base.html' %}
{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}
{% block content %}
<div class="reports">
    <div class="columns is-full  "> 
        <div class="column"><p class="is-size-5">Daily</p></div>
        <div class="field column has-addons has-addons-right">
  
            <p class="control">
              <input class="input  is-small" type="date" placeholder="Amount of money">
            </p>
            <p class="control">
              <a class="button   is-small is-info">
                refresh
              </a>
            </p>
          </div>
    </div>
    <div class="content">
        <div class="chartContainer">

            <canvas id="Chart"></canvas>
        </div> 
        <div class="title"> {{ title }}  Bills</div>
        <table class="table">
            <thead>
                <tr>
                    <th><abbr title="Position">Pos</abbr></th>
                    <th>Team</th>
                    <th><abbr title="Played">Pld</abbr></th>
                    <th><abbr title="Won">W</abbr></th>
                    <th><abbr title="Drawn">D</abbr></th>
                    <th><abbr title="Lost">L</abbr></th>
                    <th><abbr title="Goals for">GF</abbr></th>
                    <th><abbr title="Goals against">GA</abbr></th>
                    <th><abbr title="Goal difference">GD</abbr></th>
                    <th><abbr title="Points">Pts</abbr></th>
                    <th>Bill</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th><abbr title="Position">Pos</abbr></th>
                    <th>Team</th>
                    <th><abbr title="Played">Pld</abbr></th>
                    <th><abbr title="Won">W</abbr></th>
                    <th><abbr title="Drawn">D</abbr></th>
                    <th><abbr title="Lost">L</abbr></th>
                    <th><abbr title="Goals for">GF</abbr></th>
                    <th><abbr title="Goals against">GA</abbr></th>
                    <th><abbr title="Goal difference">GD</abbr></th>
                    <th><abbr title="Points">Pts</abbr></th>
                    <th>Bill</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Liecister city <strong>(C)</strong>
                    </td>
                    <td>38</td>
                    <td>23</td>
                    <td>12</td>
                    <td>3</td>
                    <td>68</td>
                    <td>36</td>
                    <td>+32</td>
                    <td>81</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Arsenal
                    </td>
                    <td>38</td>
                    <td>20</td>
                    <td>11</td>
                    <td>7</td>
                    <td>65</td>
                    <td>36</td>
                    <td>+29</td>
                    <td>71</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Tottenham Hotspur</td>
                    <td>38</td>
                    <td>19</td>
                    <td>13</td>
                    <td>6</td>
                    <td>69</td>
                    <td>35</td>
                    <td>+34</td>
                    <td>70</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                <tr class="is-selected">
                    <th>4</th>
                    <td>Manchester City</td>
                    <td>38</td>
                    <td>19</td>
                    <td>9</td>
                    <td>10</td>
                    <td>71</td>
                    <td>41</td>
                    <td>+30</td>
                    <td>66</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Manchester United</td>
                    <td>38</td>
                    <td>19</td>
                    <td>9</td>
                    <td>10</td>
                    <td>49</td>
                    <td>35</td>
                    <td>+14</td>
                    <td>66</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Southampton</td>
                    <td>38</td>
                    <td>18</td>
                    <td>9</td>
                    <td>11</td>
                    <td>59</td>
                    <td>41</td>
                    <td>+18</td>
                    <td>63</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>West Ham United</td>
                    <td>38</td>
                    <td>16</td>
                    <td>14</td>
                    <td>8</td>
                    <td>65</td>
                    <td>51</td>
                    <td>+14</td>
                    <td>62</td>
                    <td> <button class="button is-success">Bill</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static  'js/report.js' %}"></script>
{% endblock %}