{% extends 'base.html' %} 
{% block style %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/order.css' %}" />
{% endblock %}

{% block content %}
<div>
<div class=" has-text-weight-bold has-text-centered is-size-5">Bill</div>
<div class="order">
  <form action="" method="post">
    <!-- row one -->
    <div class="field">
      <label class="label" id="whoIs">Select Delivery</label>
      <div class="control ">
        <div class="select" style="width: 100%;">
          <select style="width: 100%;" id="type">
            <option value="TC"> Delivery A</option>
            <option value="FC">Delivery B</option>
            <option value="TF">Delivery C</option>
            <option value="FF">Delivery D</option>
          </select>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="field column">
        <label class="label">Delivery Type</label>
        <div class="control">
          <input
            class="input"
            type="text"
            value="from/to Farmer/Company"
            readonly
            disabled
          />
      </div>
      </div>
      
      <div class="field column">
        <label class="label" id="whoIs">Select Firm</label>
        <div class="control ">
          <div class="select" style="width: 100%;">
            <select style="width: 100%;" id="type">
              <option value="TC"> Firm A</option>
              <option value="FC">Firm B</option>
              <option value="TF">Firm C</option>
              <option value="FF">Firm D</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
    <!-- row two -->
    <div class="columns">
        <div class="field column">
          <label class="label">Paid</label>
          <div class="control">
            <input
              class="input"
              type="number"
              value="100"
              readonly
              disabled
            />
        </div>
        </div>
        
        <div class="field column">
          <label class="label">Payment Due</label>
          <div class="control">
            <input
              class="input"
              type="number"
              value="900"
              readonly
              disabled
            />
          </div>
        </div>
      </div>
     
    
    <div class="columns">
      <div class="column is-size-6 has-text-weight-bold">
        Payment History
      </div>
    </div>
    <!--Existing item-->
    <ol type="1" class="itemlist " id="itemlist">
      
      <!-- item -->
     <li class="item column columns">
      <div class="field column">
        <label class="label" id="whoIs">Bill</label>
        <div class="control ">
          <div class="select">
            <select style="width:100%;"  id="type">
              <option value="TC"> Bill 1</option>
              <option value="FC">Bill 2</option>
              <option value="TF">Bill 3</option>
              <option value="FF">Bill 4 </option>
            </select>
          </div>
        </div>
      </div>
      <!-- unit  -->
      <div class="field column">
        <label class="label" id="whoIs">Date</label>
        <div class="control ">
          
            <input class="input" type="date" name="" id="">
         
        </div>
      </div>
      <!-- quantity -->
      <div class="field column">
        <label class="label">Amount</label>
        <div class="control ">
          <input
            class="input is-danger"
            type="number"
            placeholder="item qauntity"
            value="100"
          />
          
        </div>
        
      </div>
      <div class="field buttonfield column    has-text-centered">
        <label class="label" id="whoIs">Clear</label>
       
        <div class="control">

          <button class="button is-link is-success  " >
            Clear
          </button>
        </div>
      </div>
      <div class="field buttonfield column    has-text-centered">
      
        <label class="label" id="whoIs">Pending</label>
        <div class="control">
          <button class="button is-link is-warning  " >
            Pending
          </button>
        </div>
      </div>
      <div class="field buttonfield column    has-text-centered">
        <label class="label" id="whoIs">Delete</label>
        <div class="control">
          <button class="button is-link is-danger  has-icons-left" disabled>
            <span class="icon is-small is-left">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </div>
      </div>
     
    </li>
    </ol>
    <!--Add a neww item-->
    <div class="field buttonfield has-text-right">
      <div class="control">
        <button class="button is-success is-link" onclick="addPay()">Add</button>
      </div>
    </div>
  
      
  
      
  
      
  
     
  
      <div class="columns is-centered is-mobile">
        <div class="field buttonfield column  has-text-centered">
          <div class="control">
            <button class="button is-info is-link">Generate Bill</button>
          </div>
        </div>
      </div>
      </form>
    </div>
</div>
  {% endblock %} {% block script %}
  <script src="{% static  'js/bill.js' %}"></script>
  {% endblock %}
