{% extends 'base.html' %} 
{% block style %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/order.css' %}" />
{% endblock %}

{% block content %}
<div>
<div class=" has-text-weight-bold has-text-centered is-size-5">Pricing</div>
<div class="order">

    <form action="" method="post">
    
    <div class="columns">
    <div class="field column">
       <label class="label" id="whoIs">Select Bill</label>
      <div class="control ">
        <div class="select" style="width: 100%;">
          <select style="width: 100%;" id="type">
            <option value="TC" class="dropdown"> Bill A</option>
            <option value="FC">Bill B</option>
            <option value="TF">Bill C</option>
            <option value="FF">Bill D</option>
          </select>
        </div>
      </div>
    </div> 
   </div>
     
    
    <div class="columns">
      <div class="column is-size-6 has-text-weight-bold">
        Item List
      </div>
    </div>
    <!--Existing item-->
    <ol type="1" class="itemlist " id="itemlist">
      
      <!-- item -->
     <li class="item column columns">
      <div class="field column">
        <label class="label" id="whoIs">Item Name</label>
        <div class="control ">
          <div class="select">
            <select style="width:100%;" onchange="orderType()" id="type">
              <option value="TC"> Tomato</option>
              <option value="FC">Potato</option>
              <option value="TF">Onion</option>
              <option value="FF">Broccoli</option>
            </select>
          </div>
        </div>
      </div>
      <!-- unit  -->
      <div class="field column">
        <label class="label" id="whoIs">unit</label>
        <div class="control ">
          <div class="select">
            <select style="width:100%;" onchange="orderType()" id="type">
              <option value="TC"> Kg</option>
              <option value="FC">Packet</option>
          
            </select>
          </div>
        </div>
      </div>
      <!-- quantity -->
      <div class="field column">
        <label class="label">Quantity</label>
        <div class="control ">
          <input
            class="input is-danger"
            type="number"
            placeholder="item qauntity"
            value="1"
          />
          
        </div>
        
      </div>
      <div class="field column">
        <label class="label">Price per unit</label>
        <div class="control ">
          <input
            class="input "
            type="number"
            placeholder="item qauntity"
            value="1"
          />
          
        </div>
        
      </div>
      <div class="field column">
        <label class="label">Sub Total</label>
        <div class="control ">
          <input
            class="input "
            type="number"
            placeholder="item qauntity"
            value="1"
            readonly
          />
        </div>
      </div>
      <div class="field buttonfield column    has-text-centered">
        <div class="control">
          <button class="button is-link is-danger  has-icons-left" disabled>
            <span class="icon is-small is-left">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </div>
      </div>
    </li>
    </ol>
    
    <!--Add a neww item-->
    <div class="columns">
      <div class="column is-four-fifths ">

      </div>
       <div class="field buttonfield column is-one-fifths has-text-centered  ">
      <div class="control">
        <button class="button is-success is-link" onclick="addItem()">Add</button>
      </div>
    </div>
    </div>
    

   

    <!-- total -->
    <div class="columns">
      <div class="column is-two-third">

      </div>
      <div class="field column is-one-third buttonfield  has-text-left  ">
        <label class="label">Total</label>
        <p class="is-size-5 " id="total">1000</p>
    </div>
    </div>
    
    
      
  
      
  
      
  
     
  
      <div class="columns is-centered is-mobile">
        <div class="field buttonfield column  has-text-centered">
          <div class="control">
            <button class="button is-info is-link">Save</button>
          </div>
        </div>
        <div class="field buttonfield column   has-text-centered">
          <div class="control">
            <button class="button is-link is-danger">Cancel</button>
          </div>
        </div>
      </div>
    </form>
      </div>
</div>
  {% endblock %} {% block script %}
  <script src="{% static  'js/pricing.js' %}"></script>
  {% endblock %}
