{% extends 'base.html' %} {% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'css/order.css' %}" />
{% endblock %} {% block content %}
<div>
  <div class="has-text-weight-bold has-text-centered is-size-5">
    Order To Farmer
  </div>
  <div class="order">
    <form action="" method="post">
    <!-- row one -->
    <div class="columns">
      <div class="field column">
        <label class="label">Order Type</label>
        <div class="control">
          <input
            class="input"
            type="text"
            value="Order To Farmer"
            readonly
            disabled
          />
        </div>
      </div>

      <div class="field column">
        <label class="label">Order Date</label>
        <div class="control">
          <input class="input is-danger" type="date" name="date" id="date" />
        </div>
      </div>
    </div>

    <!-- row two -->
    <div class="columns">
    <div class="field column">
      <label class="label" id="whoIs">Farmer Name</label>
      <div class="control ">
        <div class="select" style="width: 100%;">
          <select style="width: 100%;" id="type">
            <option value="TC"> Farmer A</option>
            <option value="FC">Farmer B</option>
            <option value="TF">Farmer C</option>
            <option value="FF">Farmer D</option>
          </select>
        </div>
      </div>
    </div> 
   </div>

    <div class="columns">
      <div class="column is-size-6 has-text-weight-bold">
        items List
      </div>
    </div>
    <!--Existing item-->
    <ol type="1" class="itemlist" id="itemlist">
      <!-- item -->
      <li class="item column columns">
        <div class="field column">
          <label class="label" id="whoIs">Item Name</label>
          <div class="control">
            <div class="select">
              <select style="width: 100%;" onchange="orderType()" id="type">
                <option value="TC"> Tomato</option>
                <option value="FC">Potato</option>
                <option value="TF">Onion</option>
                <option value="FF">Broccoli</option>
              </select>
            </div>
          </div>
        </div>
        <!-- unit  -->
        <div class="field column">
          <label class="label" id="whoIs">unit</label>
          <div class="control">
            <div class="select">
              <select style="width: 100%;" onchange="orderType()" id="type">
                <option value="TC"> Kg</option>
                <option value="FC">Packet</option>
              </select>
            </div>
          </div>
        </div>
        <!-- quantity -->
        <div class="field column">
          <label class="label">Quantity</label>
          <div class="control">
            <input
              class="input is-danger"
              type="number"
              placeholder="item qauntity"
              value="1"
            />
          </div>
        </div>
        <div class="field buttonfield column has-text-centered">
          <div class="control">
            <button class="button is-link is-danger has-icons-left" disabled>
              <span class="icon is-small is-left">
                <i class="fas fa-trash"></i>
              </span>
            </button>
          </div>
        </div>
      </li>
    </ol>
    <!--Add a neww item-->
    <div class="field buttonfield has-text-right">
      <div class="control">
        <button class="button is-success is-link" onclick="hello()">Add</button>
      </div>
    </div>

    <div class="columns is-centered is-mobile">
      <div class="field buttonfield column has-text-centered">
        <div class="control">
          <button class="button is-success is-link">Place order</button>
        </div>
      </div>
      <div class="field buttonfield column has-text-centered">
        <div class="control">
          <button class="button is-link is-danger">Cancel</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{% static  'js/order.js' %}"></script>
{% endblock %}
